[submodule "xapp"]
	path = xapp
	url = https://github.com/mc007/xphp.git

[submodule "client"]
	path = client
	url = https://github.com/mc007/xjs.git
[submodule "utils"]
	path = utils
	url = https://github.com/mc007/xDojoWatch
